* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: azure;
    font-weight: bolder;
    color: green;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    background-image: url("hero.webp");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
  
  .cta {
    background-color: orangered;
    color: whitesmoke;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    margin-top: 1rem;
  }
  
  .courses {
    padding: 2rem;
  }
  
  .courses h2 {
    text-align: center;
  }
  
  .courses ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .feedback {
	padding-top: 40px;

  }
  
  .feedback .col-3 {
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px plum;
	cursor: pointer;
	transition: transform 0.5s;
    color: maroon;
  }
  
  .feedback .col-3 img {
	width: 100px;
	margin-top: 20px;
	border-radius: 50%;
  }
  
  .feedback .col-3:hover {
	transform: translateY(-10px);
  }
  
  .our team {
	
	margin-top: 0px;
	padding: 10px 0;
  }
  
  .col-2 .offer-img {
	padding: 50px;
  }
  
  small {
	color: #555;
  }
  .small-container{
	background: radial-gradient(#fff, aquamarine);
  }

  .col-2 img {
	width: 420px;
 border-radius: 80%;
 padding-left: 60px;
}

.footer{
  background: #fff;
  color: #000;
  text-align: center;
  width: 100%;
  margin-bottom: 0%;
}

  